<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookDSD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookDSD.Properties.Settings>
            <setting name="ribbon_showOnExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ribbon_showOnEmail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bar_show" serializeAs="String">
                <value>True</value>
            </setting>
        </OutlookDSD.Properties.Settings>
    </userSettings>
</configuration>